<div class="container">
  <div class="notes">
    <div class="title">
      <h1>Notes</h1>
      <h1 (click)="onClickAdd()" style="cursor: pointer;">+</h1>
    </div>

    <div *ngFor="let title of titles">
      <div class="title">
        <h3 (click)="onClickTitle(title)">{{ title }}</h3>
        <h3 (click)="onClickDelete(title)" style="cursor: pointer;">X</h3>
      </div>
    </div>
  </div>

  <div class="inputbox">
    <app-notes
      (titleCreated)="getContents($event)"
      [oldtitle]="title"
      [oldContent]="content"
    ></app-notes>
  </div>
</div>
